body {
    background-color: rgb(143, 138, 138)92, 168, 168);
    width: 100;
    height: 100svh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
}
.form {

    
}